body {
    margin:0;
    padding:0;
}
.main-container {
    display: flex;
    padding:0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
} 
.container {
    width: 100%; 
    height: 50vh; 
    padding:0;
    justify-content: space-between;
} 

.row-1 {
    width: 100%; 
    display: flex;
    justify-content: center;
}

.row-1 h1 {
    font-family: 'Urbanist', sans-serif;
} 


.middle-row {
    width: 100%; 
    height: 400px; 
    background-color:black;
    background: 
    radial-gradient(
      2000px 2000px at 20% 100%, 
      hsla(0, 0%, 100%, 0) 40%, 
      hsla(0, 0%, 100%, 1) 40%
    ), 
    radial-gradient(
      500px 500px at 70% 40%, 
      hsla(0, 100%, 50%, 1), 
      hsla(0, 100%, 100%, 0)
    );
    display: flex;
}

/* .col-2 {
    width: 100%; 
    /* background-image: url(https://i.ytimg.com/vi/4IK5b0awvSA/maxresdefault.jpg); */
    
} */
.col-3 {
    width: 100px; 
    height: 400px; 
    flex-grow: 1; 
    /* background:chartreuse;  */
    border-left: 5px black solid;
}

.row-2  {
    width: 600px; 
    height: 100px; 
    /* background:pink;  */
    border: 5px black solid;
}